certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.9
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
meteor-ejson==1.1.0
pyee==5.0.0
python-ddp==0.1.5
python-meteor==0.1.6
requests==2.20.1
six==1.11.0
urllib3==1.24.2
Werkzeug==0.15.5
ws4py==0.5.1
